@model MultiPlug.Base.Http.EdgeApp
@functions {
    public string NavLocationIsHome()
    {
        return Model.Context.Paths.Current == Model.Context.Paths.Home ? "active" : string.Empty;
    }

    public string NavLocationIsSetup()
    {
        return Model.Context.Paths.Current == Model.Context.Paths.Home + "setup/" ? "active" : string.Empty;
    }

    public string NavLocationIsAbout()
    {
        return Model.Context.Paths.Current == Model.Context.Paths.Home + "about/" ? "active" : string.Empty;
    }
}
<div class="row-fluid">
    <ul class="nav nav-tabs">
        <li class="@NavLocationIsHome()"><a href="@Raw(Model.Context.Paths.Home)">Home</a></li>
        @*@if (MultiPlug.Ext.RasPi.Config.Utils.Hardware.isRunningRaspberryPi)
        {*@
            <li class="@NavLocationIsSetup()"><a href="@Raw(Model.Context.Paths.Home)setup/">Setup</a></li>
        @*}*@
        <li class="@NavLocationIsAbout()"><a href="@Raw(Model.Context.Paths.Home)about/">About</a></li>
    </ul>
</div>
